* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: 0.4s;
}

.dark-mode {
  transition: 0.4s;
  background-color: #30333b;
}

.switch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 140px;
  height: 68px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1a;
  transition: 0.4s;
  border-radius: 34px;
}

.slider .moon {
  position: absolute;
  top: 50%;
  left: 24%;
  z-index: -1;
  max-width: 55px;
  transform: translate(-50%, -50%);
}

.slider .sun {
  position: absolute;
  top: 50%;
  left: 76%;
  z-index: -1;
  max-width: 55px;
  transform: translate(-50%, -50%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #ffffff;
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #ffffff;
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #1a1a1a;
}

input:checked + .slider:before {
  transform: translateX(74px);
  opacity: 0;
}

input:checked + .slider:after {
  transform: translateX(74px);
  opacity: 1;
}

.slider::before {
  border-radius: 50%;
}

.slider::after {
  border-radius: 50%;
}
