* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.dark-mode {
  background-color: rgb(32, 35, 48);
  transition: 0.2s;
  color: white;
}

.switch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: rgb(32, 35, 48);
  transition: 0.2s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  transition: 0.2s;
  opacity: 0;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(52px);
  opacity: 0;
}

input:checked + .slider:after {
  transform: translateX(52px);
  opacity: 1;
}

.slider::before {
  border-radius: 50%;
}

.slider::after {
  border-radius: 50%;
}
