* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

.dark-mode {
  transition: 0.2s;
  background-color: #30333b;
}

.switch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  width: 140px;
  height: 68px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  border-radius: 34px;
  overflow: hidden;
  transition: 0.2s;
}

.slider .moon {
  position: absolute;
  top: 50%;
  left: -20%;
  z-index: -1;
  max-width: 55px;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.slider .sun {
  position: absolute;
  top: 50%;
  left: 78%;
  z-index: -1;
  max-width: 56px;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  border-radius: 50%;
  background-color: #1a1a1a;
  transition: 0.2s;
}

.slider::after {
  opacity: 0;
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #1a1a1a;
}

input:checked + .slider:before {
  transform: translateX(74px);
  opacity: 0;
}

input:checked + .slider:after {
  transform: translateX(74px);
  opacity: 1;
}

input:checked + .slider .moon,
input:checked + .slider .sun {
  transform: translate(30px, -27px);
}
